body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #333;
}

.cart-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item p {
    margin: 0;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: lightgreen;
    color: #333;
    border: 1px solid #2980b9;
    border-radius: 5px;
    padding: 10px 20px;
    display: none;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #333;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: inline-block;
}

.quantity {
    width: 40px;
    border: none; /* <-- This thing here */
    border:solid 1px;
    border-radius: 10px;
    text-align: right;
}

